<h1>Hello</h1>
<p>Good morning</p>

<% @array.each do |n| %>
<%= n %>
<% end %>

<a href="/demo/index">Index page 1</a>
<%= link_to "Index page 2", action: :index %>
<br/>
ID: <%= params[:id] %><br/>
ID: <%= @id %><br/>
Next Page: <%= @page + 1 %>

<hr />
<%= params.inspect %>